@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";



.react-flow__node-buttonNode {
    font-size: 12px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
}
